<section>
    <div>                               
        <div class="tabs is-boxed">
            <ul class="nav">
                <li class="nav-item" *ngFor="let option of options" [ngClass]="{'is-active':selectedOption===option}">
                <a class="nav-link" (click)="openOption(option)" >
                    <span>{{option}}</span>          
                </a>                
                </li> 
                <li style="width: 80% !important;"></li> 
                <li style="float: right;">
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-cubes" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-skull-crossbones" aria-hidden="true"></i></span>
                </li>                               
            </ul>                                                      
        </div> 
             
    </div> 
    <br/>
    <!--Div option 1 to enter new the data--> 
    <div class="container"
    *ngIf="selectedOption === 'Add Info'">                     
        <app-sector4-form></app-sector4-form>                     
    </div>

    <!--Div option 2 to show the data-->
    <div class="container"
    *ngIf="selectedOption === 'Show Info'">        
        <app-sector4-info></app-sector4-info> 
    </div> 
</section>