<div class="box">
    <!--Header selectors-->
    <div class="row" style="height: 70px !important; overflow: auto;"> 
        <div class="col-auto" style="width: 180px !important;">
            <label for="city">City</label>
            <select name="city" required [(ngModel)]="selectedCity" class="form-control"
            (ngModelChange)="onChangeCity($event)">
                <option value="All">Select All</option>                
                <option *ngFor="let goverment of governmentsCities" [value]="goverment.cityName">
                    {{goverment.cityName}}
                </option>   
            </select>                
        </div>
        <div class="col-auto" style="width: 180px !important;">
            <label for="inventoryPeriod">Inventory Period</label>
            <select name="inventoryPeriod" required [(ngModel)]="selectedInventoryPeriod" class="form-control"
            (ngModelChange)="onChangePeriod($event)">
                <option value="All">Select All</option>                
                
                <option value="01.Jan - 31.Dec 2016">01.Jan - 31.Dec 2016</option>
                <option value="01.Jan - 31.Dec 2017">01.Jan - 31.Dec 2017</option>
                <option value="01.Jan - 31.Dec 2018">01.Jan - 31.Dec 2018</option>
                <option value="01.Jan - 31.Dec 2019">01.Jan - 31.Dec 2019</option>
                <option value="01.Jan - 31.Dec 2020">01.Jan - 31.Dec 2020</option>
                <option value="01.Jan - 31.Dec 2021">01.Jan - 31.Dec 2021</option>  
            </select>                
        </div>
        <div class="col-auto" style="width: 300px !important;">
            <label for="subSector">Sub Sector</label>
            <select id="subSector" name="subSector" required [(ngModel)]="selectedSubSector" class="form-control"
            (ngModelChange)="onChangeSector($event)">
                <option value="All">Select All</option>    
                <option *ngFor="let element of subSectorElements1" value="{{element.key}}">{{element.value}}</option>                        
            </select>
        </div>
        <div class="col-auto" style="width: 300px !important;">
            <label for="scope">Scope</label>
            <select id="scope" name="scope" required [(ngModel)]="selectedScope" class="form-control"
            (ngModelChange)="onChangeScope($event)">
                <option value="All">Select All</option>    
                <option *ngFor="let element of scopeElements" value="{{element.key}}">{{element.value}}</option>
            </select>
        </div>
    </div>
    <hr style="margin-bottom: 5px !important;"/>

    <!--Table information-->
    <div class="tab-pane fade show active table200body" id="sector1Records"
    *ngIf="showResults" style="height: 250px;">            
        <table class="table table-hover">
        <thead class="table-borderless">
            <tr class="text-center">
            <th (click)="sortFunction('city', booleanSort)">City</th>
            <th (click)="sortFunction('inventoryPeriod', booleanSort)">Period</th>
            <th (click)="sortFunction('subSector', booleanSort)">Sub Sector</th>
            <th (click)="sortFunction('scope', booleanSort)">Scope</th>
            <th (click)="sortFunction('diesel', booleanSort)">Diesel<br>in tCO2e</th>            
            <th (click)="sortFunction('gasoline', booleanSort)">Gasoline<br>in tCO2e</th>            
            <th (click)="sortFunction('naturalGas', booleanSort)">NaturalGas<br>in tCO2e</th>            
            <th (click)="sortFunction('lgn', booleanSort)">LGN<br>in tCO2e</th>            
            <th (click)="sortFunction('propane', booleanSort)">Propane<br>in tCO2e</th>            
            <th (click)="sortFunction('electricity', booleanSort)">Electricity<br>in tCO2e</th>            
            <th (click)="sortFunction('otherDescription', booleanSort)">Other<br>Description</th>
            <th (click)="sortFunction('other', booleanSort)">Other<br>in tCO2e</th>            
            <th>
                <div class="btn-group float-right">
                    <button type="button" (click)="getallSector1Records(true)" class="btn btn-info">
                    <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
                    </button>
                </div>
            </th>
            </tr>
        </thead>
        <tbody *ngFor="let sector1Record of filteredSector1Records">
            <tr class="text-center">  
                <th>{{sector1Record?.city}}</th>
                <th>{{sector1Record?.inventoryPeriod.split(" ").pop()}}</th>   
                <td >
                    <ng-container *ngIf="sector1Record.subSector == 'Residential Buildings'">
                        1
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Commercial and institurional buildings'">
                        2
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Manufacturing industries and construction'">
                        3
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Energy industries'">
                        4
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Agriculture, Forestry and Fishing activities'">
                        5
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Non-Specified sources'">
                        6
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Fugitive emissions from mining, processing, storage and transportation of coal'">
                        7
                    </ng-container>
                    <ng-container *ngIf="sector1Record.subSector == 'Fugitive emissions from oil and natural gas systems'">
                        8
                    </ng-container>                    
                </td>
                <td >                    
                    <ng-container *ngIf="sector1Record.scope == 'Fossil fuel used for building or home boilers, as well fixed energy generation units'">
                        1
                    </ng-container>
                    <ng-container *ngIf="sector1Record.scope == 'Electricity purchased used in buildings'">
                        2
                    </ng-container>
                    <ng-container *ngIf="sector1Record.scope == 'Electricity loses in the transmition  and distribution process'">
                        3
                    </ng-container>
                </td>           
                <td>{{sector1Record?.diesel}}</td>                
                <td>{{sector1Record?.gasoline}}</td>                
                <td>{{sector1Record?.naturalGas}}</td>                
                <td>{{sector1Record?.lgn}}</td>                
                <td>{{sector1Record?.propane}}</td>                
                <td>{{sector1Record?.electricity}}</td>                
                <td>{{sector1Record?.otherDescription}}</td>
                <td>{{sector1Record?.other}}</td>                
                <td class="">                    
                    <button class="btn btn-outline-danger" (click)="onDeleteSector1(sector1Record?.id)"><i class="fas fa-trash"></i></button>                    
                </td>
            </tr>
        </tbody>
        <tfoot>
            <th>Totals in tCO2e</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{sumDiesel}}</th>
            <th>{{sumGasoline}}</th>
            <th>{{sumNaturalGas}}</th>
            <th>{{sumLgn}}</th>
            <th>{{sumPropane}}</th>
            <th>{{sumElectricity}}</th>                         
            <th></th>
            <th>{{sumOther}}</th> 
        </tfoot>
        </table>
    </div>
</div>