<section>
    <div>                               
        <div class="tabs is-boxed">
            <ul class="nav">
                <li class="nav-item" *ngFor="let option of options" [ngClass]="{'is-active':selectedOption===option}">
                <a class="nav-link" (click)="openOption(option)" >
                    <span>{{option}}</span>          
                </a>                
                </li> 
                <li style="width: 67% !important;"></li> 
                <li style="float: right;">
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-train" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-ship" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-plane" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-bus" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-car" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fa fa-lg fa-bolt" aria-hidden="true"></i></span>
                    <span class="icon is-small marginright10"><i class="fas fa-lg fa-oil-can" aria-hidden="true"></i></span>
                </li>                               
            </ul>                                                      
        </div> 
             
    </div> 
    <br/>
    <!--Div option 1 to enter new the data--> 
    <div class="container"
    *ngIf="selectedOption === 'Add Info'">                     
        <app-sector2-form></app-sector2-form>                     
    </div>

    <!--Div option 2 to show the data-->
    <div class="container"
    *ngIf="selectedOption === 'Show Info'">        
        <app-sector2-info></app-sector2-info> 
    </div> 
</section>